<p id="notice"><%= notice %></p>
<div class="depot_form">
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
  <legend>Enter User Details</legend>

  <div class="field">
    <%= f.label :name %><br>
    <% if params[:user] %>
      <%= f.text_field :name, value: params[:user][:name] %>
    <% else %>
      <%= f.text_field :name %>
    <% end %>
  </div>
  <% if params[:action] == "edit" || params[:action] == "update" %>
    <div class="field">
      <%= f.label :current_password %><br>
      <%= f.password_field :current_password %>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  </fieldset>
<% end %>
</div>